* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.ms-container {
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 700px;
    display: flex;
}

.items-list {
    width: 500px;
    height: 500px;
}

.single-item {
    display: none;
}

.thumb {
    height: calc(500px / 5);
    opacity: .5;
}

.thumb.active {
    opacity: 1;
    transform: scale(1.2);
    border: 2px solid black;
    z-index: 99;
}

.thumb img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.thumbs {
    width: 200px;
    position: relative;
    background-color: #000;
}

.single-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.single-item.active {
    display: block;
}

.prev-img,
.next-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 15px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    z-index: 999;
}

.prev-img {
    top: 10px;
}

.next-img {
    bottom: 10px;
}

.prev-img:hover,
.next-img:hover {
    background-color: rgba(240, 240, 240, 1);
}